{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "jsx": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "no-console": "off",
    "member-access": "off",
    "jsx-no-lambda": "off",
    "jsx-boolean-value": "off",
    "no-inner-declarations": "off",
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "indent": ["warn", 2, { "SwitchCase": 1, "flatTernaryExpressions": true, "CallExpression": {"arguments": 1} }],
    "linebreak-style": "off",
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "no-unused-vars": "off",
    "react/prop-types": "off",
    "camelcase": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ]
  }
}
