@font-face {
	font-family: 'Google Sans';
	font-style: normal;
	font-weight: 400;
	src:
		/* from https://fonts.gstatic.com/s/googlesans/v27/4UaGrENHsxJlGDuGo1OIlI3M.woff2 */
		url('Google_Sans_400.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/googlesans/v27/4UaGrENHsxJlGDuGo1OIlI3K.woff */
		url('Google_Sans_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/googlesans/v27/4UaGrENHsxJlGDuGo1OIlI3I.eot */
		url('Google_Sans_400.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.google.com/license/googlerestricted
https://fonts.gstatic.com/l/font?kit=4UaGrENHsxJlGDuGo1OIlI3L&skey=c30756b8cf584a60&v=v27#GoogleSans */
		/* from https://fonts.gstatic.com/s/googlesans/v27/4UaGrENHsxJlGDuGo1OIlI3J.ttf */
		url('Google_Sans_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Google Sans';
	font-style: normal;
	font-weight: 500;
	src:
		/* from https://fonts.gstatic.com/s/googlesans/v27/4UabrENHsxJlGDuGo1OIlLU94btx.woff2 */
		url('Google_Sans_500.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/googlesans/v27/4UabrENHsxJlGDuGo1OIlLU94bt3.woff */
		url('Google_Sans_500.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/googlesans/v27/4UabrENHsxJlGDuGo1OIlLU94bt1.eot */
		url('Google_Sans_500.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.google.com/license/googlerestricted
https://fonts.gstatic.com/l/font?kit=4UabrENHsxJlGDuGo1OIlLU94bt2&skey=f4386c9bb5bc6787&v=v27#GoogleSans */
		/* from https://fonts.gstatic.com/s/googlesans/v27/4UabrENHsxJlGDuGo1OIlLU94bt0.ttf */
		url('Google_Sans_500.ttf') format('truetype');
}
@font-face {
	font-family: 'Google Sans';
	font-style: normal;
	font-weight: 700;
	src:
		/* from https://fonts.gstatic.com/s/googlesans/v27/4UabrENHsxJlGDuGo1OIlLV157tx.woff2 */
		url('Google_Sans_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/googlesans/v27/4UabrENHsxJlGDuGo1OIlLV157t3.woff */
		url('Google_Sans_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/googlesans/v27/4UabrENHsxJlGDuGo1OIlLV157t1.eot */
		url('Google_Sans_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.google.com/license/googlerestricted
https://fonts.gstatic.com/l/font?kit=4UabrENHsxJlGDuGo1OIlLV157t2&skey=88fbaa366fa66349&v=v27#GoogleSans */
		/* from https://fonts.gstatic.com/s/googlesans/v27/4UabrENHsxJlGDuGo1OIlLV157t0.ttf */
		url('Google_Sans_700.ttf') format('truetype');
}
